/*estilização do conteúdo geral e do background*/
 *{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    color:floralwhite;;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-image:url(/img/fundo-cosmico-com-luzes-laser-de-neon-coloridas-perfeito-para-um-papel-de-parede-digital_181624-23743.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /*fixa a imagem de fundo*/
}
/*estilização do conteúdo geral e do background*/

/* estilização do header*/
header {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    padding: 10px;
}

header ul {
    display: flex;
}

header ul li{
    padding: 10px;
}

.nome h1 {
    display: flex;
    justify-content:center;
    font-size: 40px;
    margin-left: 10px;
    margin-top: 1cm;
}

.nome h5 {
    display: flex;
    justify-content:center;
    font-size: 25px;
}

/* nav-bar */
nav {
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 0.5cm;

    max-width: 1600px;
    margin-bottom: 50px;
    width: 100%;
    min-width: 320px;
    padding-bottom: 1cm;
}

nav ul {
    list-style: none;
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
}



.list-items li a:hover{
    text-decoration: underline;
    color: blueviolet;
}

nav li{
    display: inline; /* Faz com que os itens se comportem como elementos inline */
    margin-right: 100px;/* Adiciona um espaço entre os itens*/
    list-style: none; /* Remove os marcadores de lista */
}
/* estilização do header*/

.container{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px;
    align-items: space-evenly;
}


/*estilização do conteúdo da main*/

.welcome {
    display: flex;
    justify-content: center;
    background-color: rgb(13, 6, 18);
    border-radius: 10px;
    margin-top: 1cm;
    margin-left: 9cm;
    margin-right: 9cm;
    padding-left: 1cm;
    padding-right: 1cm;
    padding-top: 1cm;
    padding-bottom: 1cm;
}
.foto {
    width: 150px;
    border-radius: 10px;
    margin-left: 0.5cm;
}

.welcome p {
    font-size: larger;
    max-width: 600px;
    margin: 0.5cm;
    padding-left: 1cm;
    padding-right: 1cm;
    color: floralwhite;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(13, 6, 18);
    border-radius: 10px;
    margin-top: 1cm;
    padding-left: 1cm;
    padding-right: 1cm;
    padding-top: 1cm;
    padding-bottom: 1cm;
}

.titulo-section {
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;  
}

.titulo-section h2 {
    margin-bottom: 0px;
}

.lista-skils {
    display: flex;
    justify-content: center;
    /*flex-wrap: wrap;*/
    list-style: none;
    width: 50%; /* Isso fará com que duas li fiquem lado a lado */
    padding: 10px;
    box-sizing: border-box;
}

.lista-skils li {
    display: inline;
    justify-content: space-around;
    list-style: none;
    padding-bottom: 1cm;
    padding-top: 1cm;
    padding-left: 1cm;
    padding-right: 1cm;
    margin-right: 15px;
}
/*
a {
    display: inline;
    justify-content: center;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 15px;
    margin-top: 1cm;
}*/

#certificados {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
a {
    margin: 5px;
    text-align: center;
    text-decoration: none;
   /* padding: 5px; espaçamento entre as linhas*/
    margin-top: 1cm;
}


/*ajuste e alinhamento dos parágrafos*/
section p {
    padding-bottom: 1cm;
    padding-top: 1cm;
    padding-left: 3cm;
    padding-right: 3cm;
}
/*estilização do conteúdo da main*/

/*estilização do formulario*/

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 5cm;
    
}

.form h2{
    text-align: center;
}

.form input {
    align-items: center;
    width: 100%; /* Certifique-se de que o campo de entrada ocupe toda a largura disponível. */
    padding: 10px;
    margin: 10px; /* Adicione algum espaçamento superior e inferior para o campo de entrada. */
    margin-top: 20px;
    width: 10cm;
}

.form button {
    background-color: rgb(30, 9, 49);
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
/*estilização do formulario*/

/*estilização do footer*/
.footer{
    background-color: black;
    display: grid;
    justify-content: center;
    margin-top: 1cm;
}

ul{
    list-style: none;
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
}

a{
    text-decoration: none;
}
.redes-sociais li {
    display: inline; /* Faz com que os itens se comportem como elementos inline */
    justify-content: center;
    justify-content: space-around;/* Adiciona um espaço entre os ícones*/
    list-style: none; /* Remove os marcadores de lista */
}


.autor {
    display: inline;
    align-items: center;
    margin-top: 20px;
}

.redes-sociais {
    padding-left: 40px; /*alinha os ícones com o parágrafo abaixo*/
}
.autor span{
    display: inline-flex;
    justify-content: center; 
    padding-left: 80px;
}

.autor p{
    display: flex;
    justify-content: center;
    margin-left: 10px;
}
.redes-sociais li{ /*colocar efeito nos icones quando passar o mouse*/
}
/*estilização do footer*/