/*estilização do conteúdo geral e do background*/
 *{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    color:rgba(255, 250, 240, 0.918);;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-image:url(/img/fundo-cosmico-com-luzes-laser-de-neon-coloridas-perfeito-para-um-papel-de-parede-digital_181624-23743.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /*fixa a imagem de fundo*/
}

#hover:hover{
    text-decoration: underline;
    transition: color 0.3s;
    color: rgb(88, 21, 150);
}
/*estilização do conteúdo geral e do background*/

/* estilização do header*/
header {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    padding: 10px;
}

header ul {
    display: flex;
}

header ul li{
    padding: 10px;
}

.container-cabecalho h1 {
    display: flex;
    justify-content:center;
    font-size: 40px;
    margin-left: 10px;
    margin-top: 30px;
}

.container-cabecalho h5 {
    display: flex;
    justify-content:center;
    font-size: 25px;
}

/* nav-bar */
nav {
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 18px;
    margin-bottom: 50px;
    width: 100%;
    min-width: 320px;
    padding-bottom: 37px;
}

nav ul {
    list-style: none;
    font-size: 20px;
    font-style: italic;
    font-weight: 700; /* Define o peso (gramatura) da fonte*/
}

nav li{
    display: inline; /* Faz com que os itens se comportem como elementos inline */
    margin-right: 100px;/* Adiciona um espaço entre os itens*/
    list-style: none; /* Remove os marcadores de lista */
}
/* estilização do header*/

.container{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px;
    align-items: space-evenly;
}

/*estilização do conteúdo da main*/

.welcome {
    display: flex;
    justify-content: center;
    background-color: rgb(13, 6, 18);
    border-radius: 10px;
    margin-top: 37px;
    margin-left: 333px;
    margin-right: 333px;
    padding-left: 18px;
    padding-top: 37px;
    padding-bottom: 37px;
    text-align:justify;
}

.foto {
    width: 150px;
    border-radius: 10px;
    margin-left: 18px;
}

.welcome p {
    font-size: larger;
    max-width: 600px;
    margin: 18px;
    padding-left: 37px;
    padding-right: 37px;
    color: floralwhite;
}

/*estilização das seções*/
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(13, 6, 18);
    border-radius: 10px;
    margin-top: 74px;
    padding-left: 37px;
    padding-right: 37px;
    padding-top: 37px;
    padding-bottom: 37px;
    text-align:justify;
}

section h2 {
    margin-bottom: 0px;
}

/*ajuste e alinhamento dos parágrafos*/
section p {
    font-size: larger;
    padding-bottom: 37px;
    padding-top: 37px;
    padding-left: 111px;
    padding-right: 111px;
}

.idiomas {
    display: flex;
    align-items: center; /* Alinhar verticalmente os elementos */
    justify-content: space-around;
    font-size: larger;
}

.idiomas h3 {
    margin-right: 30px; /* Adicionar margem à direita para separar do <ul> */
}

.idiomas ul {
    list-style: none; /* Remover marcadores de lista padrão */
    font-size:medium;
}

.idiomas li {
    font-size: larger;
    font-weight: 300; /* Define o peso (gramatura) da fonte*/
    margin-right: 10px;
    padding: 5px;
}

.skils-list {
    display: flex;
    margin-top: 37px;
    padding-bottom: 45px;
    flex-wrap: row wrap;
    justify-content: center;
}
.skils-list div{
    padding-right: 74px;
}

#certificados {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
a {
    margin: 5px;
    text-align: center;
    text-decoration: none;
    margin-top: 37px;
}
/*estilização do conteúdo da main*/

/*estilização do formulario*/
.container-flex {
    display: flex;
    flex-flow: row wrap ;
    padding-top: 37px;
}

/*inputs nome e email*/
.input-group {
    display: flex;
    flex-flow: column;
    gap: 20px;
    padding-right: 20px;
}

.input-group input {
    width: 380px; 
    height: 45px;
}

/*inputs assunto*/
#assunto {
    width: 500px;
    height: 110px;
}

.form button {
    width: 380px;
}

form button {
    background-color: rgb(30, 9, 49);
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 400px;
}

/*efeito no botão*/
form button:hover {
    transform: translateY(-5px); /* o botão vai saltar 5px para cima quando o cursosr passar por ele*/
    transition: color 0.3s;
    color: rgb(122, 15, 223);
}

/*estilização do link de navegação*/
.voltar {
    display: grid;
    display: inline;
    justify-content: left;
    padding-inline-end: 32cm;
    padding-top: 30px;
}

/*hover do ícone setinha para cima*/
.voltar i:hover {
    transition: color 0.3s;
    color: rgb(88, 21, 150);
}
/*estilização do formulario*/

/*estilização do footer*/
.footer{
    background-color: black;
    display: grid;
    justify-content: center;
    margin-top: 37px;
}

ul{
    list-style: none;
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
}

li {
    text-decoration: none;
}
.redes-sociais li {
    display: inline; /* Faz com que os itens se comportem como elementos inline */
    justify-content: center;
    justify-content: space-around;/* Adiciona um espaço entre os ícones*/
    list-style: none; /* Remove os marcadores de lista */
}

.autor {
    display: inline;
    align-items: center;
    margin-top: 20px;
}

.redes-sociais {
    padding-left: 40px; /*alinha os ícones com o parágrafo abaixo*/
}
.autor span{
    display: inline-flex;
    justify-content: center; 
    padding-left: 80px;
    margin-bottom: 20px;
}

.autor p{
    display: flex;
    justify-content: center;
    margin-left: 10px;
}
/*hover nos ícones de redes sociais*/
.redes-sociais a:hover{
    transition: color 0.3s;
    color: rgb(88, 21, 150);
}
/*estilização do footer*/